@media(max-width: 900px) {
    .menu__btn {
        display: flex;
    }
    .header_menu {
        display: none;
        position: absolute;
        top: 125px;
        background-color: #e6e6e6;
        width: 100%;
        left: 0;
        text-align: center;
        z-index: 1;
    }
    .header-list {
        background-color: #fff;
        padding-inline-start: 0;
    }
    .header_list li {
        width: 100%;
        /* margin-left: 30px;  */
        display: block;
    }
    .header_menu .header-list li {
        display: block;
        margin: 0;
        padding: 0;
        align-items: center;
    }
    .header_menu a {
        padding: 12px 0 12px 11px;
        font-weight: 400;
        /* margin-right: 75px;   */
        display: block;
        text-transform: none;
        font-size: 15px;
        color: #999999;
    }
    .thumbs__item {
        display: none;
    }
}

@media(max-width:450px) {
    .slider__inner {
        background-repeat: no-repeat;
    }
    .slider__text {
        font-size: 43px;
        left: 5px;
    }
}

@media(max-width: 700px) {
    .middle {
        padding: 0;
    }
    .middle__item {
        padding: 0;
        margin: 0;
    }
    .middle__inner {
        display: inline;
        /* column-count: 1; */
        column-gap: 40px;
        margin: 0;
    }
    .middle__inner .middle__item+.middle__item {
        margin: 0;
    }
    .middle__title {
        margin-top: 30px;
    }
    .middle__item a {
        margin-top: 40px;
    }
}

@media(max-width: 760px) {
    .recent__title {
        margin-top: 30px;
    }
    .recent__inner {
        margin: 0;
        padding: 0;
    }
    .recent__rinner {
        display: flex;
        flex-wrap: wrap;
    }
    .recent__item {
        padding: 0;
        margin: 0;
    }
}

@media(max-width: 874px) {
    .design__inner {
        display: flex;
        flex-wrap: wrap;
        font-size: 15px;
    }
    .design__title {
        font-size: 30px;
    }
    .design__title1 {
        font-size: 23px;
        margin-top: 1px;
    }
    .design__item p {
        font-size: 15px;
        width: 100%;
    }
    .design__items p {
        font-size: 14px;
        width: 100%;
    }
}

@media(min-width: 900px) {
    .header__menu {
        display: block !important;
    }
}